.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: left;
     margin: 5px 30px;
}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
    margin: 15px;
}

#editBtnId{
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    margin: 15px;
    float:right;
}

#likeBtnId{
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    margin: 15px;
}

#likeBtnText{
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
}

#commentBoxContainer{
    margin: 40px 0px 0px 25px;
}

#commentBtnId{
    margin: 0px 0px 0px 25px;
}

#commentContainer{
    display: flex;
    flex-direction:column; 
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
}

.comment{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 5px;
    padding: 5px;
    position: relative;
    height: auto;
    word-break:break-all;
}

#text{
    margin: 40px 0px 0px 25px;
    font-size: 20px;
    font-weight: bold;
}
